body {
	background-color: black;
	color: white;
}

#root {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

input,
textarea {
	width: 300px;
	margin-bottom: 10px;
	padding: 10px;
}

button {
	font-family: monospace;
}

a {
	color: white;
}

p {
	white-space: pre-line;
}

ul {
	padding-inline-start: 0;
}

li {
	text-align: left;
	list-style-type: none;
	border: 1px solid white;
	margin-bottom: 20px;
	padding: 20px 20px 0;
}

h3 {
	margin-top: 0;
}

.export-import {
	div {
		font-size: 7px;
		line-height: 7px;
		word-break: break-all;
		font-family: monospace;
	}
	button {
		margin-bottom: 20px;
	}
}
